#table-btn {
    width: 80%;
    height: 10%;
    bottom: unset;
    text-align: center;
    position: absolute;
    top: 0;
    left: 10%;
    background-color: #2492a5;
    table-layout: fixed;
}

#table-instruction{
    width: 80%;
    height: 80%;
    bottom: unset;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('img/background/background2.png');
}
#my-canvas {
    width :80%;
    height: 80%;
    border: 1px solid black;
    background-color: chocolate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    border: 1px solid red;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}